<div class="row">
  <div class="card-panel teal module hero">
    <h4 class="white-text">{{product.name}}
    </h4>
  </div>
  <md-card>
    <button md-button>FLAT</button>
    <button md-raised-button>RAISED</button>
    <button md-raised-button color="primary">PRIMARY RAISED</button>
    <button md-raised-button color="accent">ACCENT RAISED</button>
  </md-card>
  <md-card>
    <md-spinner class="app-spinner"></md-spinner>
    <md-spinner color="accent" class="app-spinner"></md-spinner>
  </md-card>
</div>
